{% extends 'base.html.twig' %}

{% block body %}

    <h1>Lot </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div class="row text-center ">

    </div>
    {{ form_end(edit_form) }}

    <ul>

        <li>
            {{ form_start(delete_form) }}
            <div class="row text-center ">

<span class="">
              <input type="submit" value="Valider" class="btn btn-primary "/>
        </span>

                <span class="">
              <input type="submit" value="Supprimer" class="btn btn-primary "/>
        </span>

            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
