{% extends 'base.html.twig' %}

{% block body %}

    <h1>Lots </h1>

    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Codelot</th>
                <th>Nlotrecolte</th>
                <th>Nombrecageots</th>
                <th>Poidsbrut</th>
                <th>Poidsnet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
            <tr>
                <td><a href="{{ path('lot_show', { 'identifiant': lot.identifiant }) }}">{{ lot.identifiant }}</a></td>
                <td>{{ lot.codeLot }}</td>
                <td>{{ lot.nLotRecolte }}</td>
                <td>{{ lot.nombreCageots }}</td>
                <td>{{ lot.poidsBrut }}</td>
                <td>{{ lot.poidsNet }}</td>
                <td>
                    
                        
                    <a href="{{ path('lot_show', { 'identifiant': lot.identifiant }) }}"><span><i> <img src=" {{ asset('images/voir2.png') }}" title="voir"> </i></span></a>
                    
                    <a href="{{ path('lot_edit', { 'identifiant': lot.identifiant }) }}"><span><i> <img src=" {{ asset('images/Edit.png') }}" title="editer"> </i></span></a>
                     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn-success btn" href="{{ path('lot_new') }}">Créer</a>
        </li>
    </ul>
{% endblock %}
