{% extends 'base.html.twig' %}

{% block body %}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"></div>

    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <div class="col-sm-12">
        <div class="white-box">
            <h1 class="box-title m-b-0 text-center">Lot</h1>

            <div class="container-fluid">
                <h1 class="text-center">Détails Lot</h1>
                <br/><br/>
                <table class="table">
                    <tbody>
                    <tr class="thead-dark">
                <th>Identifiant</th>
                <td>{{ lot.identifiant }}</td>
            </tr>
            <tr>
                <th>Codelot</th>
                <td>{{ lot.codeLot }}</td>
            </tr>
            <tr>
                <th>Nlotrecolte</th>
                <td>{{ lot.nLotRecolte }}</td>
            </tr>
            <tr>
                <th>Nombrecageots</th>
                <td>{{ lot.nombreCageots }}</td>
            </tr>
            <tr>
                <th>Poidsbrut</th>
                <td>{{ lot.poidsBrut }}</td>
            </tr>
            <tr>
                <th>Poidsnet</th>
                <td>{{ lot.poidsNet }}</td>
            </tr>
        </tbody>
    </table>

    <ul>


        <li>
            {{ form_start(delete_form) }}
            <div class="row text-center ">

        <span class="">
               <a class="btn btn-primary "
                  href="{{ path('lot_edit', { 'identifiant': lot.identifiant }) }}">Modifier</a>
        </span>


                <span class="">
              <input type="submit" value="Supprimer" class="btn btn-primary "/>
        </span>

            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
