{% extends 'base.html.twig' %}
{% block body %}
<style>


    th{
    font-weight: normal;
}

    th, th {
    border : 1px solid black;
    padding: 10px 15px;
}


</style>

    <div class="row">
        <div class="col-sm-12">
            <form  method="post" action="{{ path('fiche_inspection_operateur') }}" >
            <h4 class="box-title m-b-0 m-t-40"></h4>
            <p class="text-muted m-b-30 font-13"> </p>
            <div class="panel-group wiz-aco" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Inspection de la station de conditionnement 
                            </a>
                        </h4> </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                {#<form action="{{ path('fiche_inspection_operateur') }}" method="post">#}
                                <div class="white-box">
                                    <table id="mainTableControle" class=" mainTables table editable-table table-bordered table-striped m-b-0">
                                        {#<table class="table  table-bordered" id="editable-datatable">#}
                                        <thead>
                                        <tr>
                                            <th colspan="2">Statation à inspecter</th>

                                            <th colspan="2">
                                                <select name="sitecond">
                                                        {% for site in ficheOperateur %}

                                             <option value=" {{site.id}}">{{site.siteCond}}</option> 
                                                {% endfor  %}
                                                </select>
                                                
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Rubriques</th>
                                            <th>../20</th>
                                            <th>Oui</th>
                                            <th>Non</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Existence des tables de travail</th>
                                            <th id="note_1" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="noteTravail" value="0">
                                            </th>

                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="Travail"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="Travail"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Existence des chambres froides</th>
                                            <th id="note_2" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="noteChambre" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        value="oui"
                                                                                        name="chambre"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        value="non"
                                                                                        name="chambre"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Système de controle des températures</th>
                                            <th id="note_3" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"

                                                                                name="noteTemperature" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="temperature"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="temperature"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Conformité tempèrature avec cahier de charges</th>
                                            <th id="note_4" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="noteConformite" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="conformite"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="conformite"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>

                                        <tr>
                                            <th>Unité traitement des palettes, emballage en bois</th>
                                            <th id="note_5" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="noteEmballage" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="emballage"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="emballage"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Existence de sanitaire fonctionnel</th>
                                            <th id="note_6" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="noteSanitaire" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="sanitaire"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="sanitaire"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Existence affiches sur la sécurité</th>
                                            <th id="note_7" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="noteSecurite" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="securite"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        value="non"
                                                                                        name="securite"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Disponibilité et accessibilité boite pharmacie</th>
                                            <th id="note_8" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="notePharmacie" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="pharmacie"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="pharmacie"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th> Existence d'installation de lavage à la main</th>
                                            <th id="note_9" onchange=" "><input type="number" min="0"
                                                                                max="20" class="note noteStation"
                                                                                name="noteLavage" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="lavage"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="lavage"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Conformité des installations</th>
                                            <th id="note_10" onchange=" "><input type="number" min="0"
                                                                                 max="20" class="note noteStation"
                                                                                 name="noteInstallation" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="installation"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        value="non"
                                                                                        name="installation"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>

                                        <tr>
                                            <th>Respect de la marche en avant</th>
                                            <th id="note_11" onchange=" "><input type="number" min="0"
                                                                                 max="20" class="note noteStation"
                                                                                 name="notemarcheEnAvant" value="0"></th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        value="oui"
                                                                                        name="marcheEnAvant"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        value="non"
                                                                                        name="marcheEnAvant"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>TOTAL</th>

                                            <th><span class="noteStationTotal"></span></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </tbody>


                                    </table>
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Inspection du système de controle
                            </a>
                        </h4> </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="white-box">
                                    <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0">
                                        {#<table class="table  table-bordered" id="editable-datatable">#}
                                        <thead>
                                        <tr>
                                            <th>Rubriques</th>
                                            <th>../15</th>
                                            <th>Oui</th>
                                            <th>Non</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Cahier de charges de la qualité pour le conditionnement</th>
                                            <th id="notes_1"><input type="number" min="0"
                                                                    max="20" class="note noteControle"
                                                                    name="notequaliteCond" value="0"></th>

                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="qualiteCond"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="qualiteCond"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Documentation ou archive d'un autocontrole</th>
                                            <th id="notes_2" onchange=" recuperers();"><input type="number" min="0"
                                                                                              max="20"
                                                                                              class="note noteControle"
                                                                                              name="notedocArchive" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="docArchive"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="docArchive"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Matériel et Outils pour l'autocontrole</th>
                                            <th id="notes_3" onchange=" recuperers();"><input type="number" min="0"
                                                                                              max="20"
                                                                                              class="note noteControle"
                                                                                              name="noteMaterielAutoControle" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="MaterielAutoControle"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="MaterielAutoControle"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th><strong>TOTAL</strong></th>

                                           
                                            <th><span class="noteControleTotal"></span></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </tbody>
                                       
                                    </table>

                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             Inspection du personnel
                            </a>
                        </h4> </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                            <div class="col-sm-12">
                                <div class="white-box">


                                    <table id="mainTableResponsable" class=" mainTabless table editable-table table-bordered table-striped m-b-0">
                                        {#<table class="table  table-bordered" id="editable-datatable">#}
                                        <thead>
                                        <tr>
                                            <th>Rubriques</th>
                                            <th>../15</th>
                                            <th>Oui</th>
                                            <th>Non</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Recrutement d'un responsable qualité</th>
                                            <th id="notess_1" onchange=" recupere();"><input type="number" min="0"
                                                                                 max="20" class="note noteResponsable"
                                                                                             name="noteresponsableQualite" value="0">
                                            </th>

                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="responsableQualite"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="responsableQualite"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Niveau de qualification du responsable qualité</th>
                                            <th id="notess_2" onchange=" recupere();"><input type="number" min="0"
                                                                            max="20" class="note noteResponsable"
                                                                                             name="noteNiveauResp" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="NiveauResp"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="NiveauResp"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th><strong>TOTAL</strong></th>
                                            <th><span class="noteresponsableTotal"></span></th>
                                            <th></th>
                                            <th></th>
                                        </tr>

                                        </tbody>
                                       
                                    </table>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default"o>
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Système d'enregistrement
                            </a>
                        </h4> </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">

                            <div class="col-sm-12">
                                <div class="white-box">
                                    <table id="mainTableSystem" class=" mainTablesss table editable-table table-bordered table-striped m-b-0">
                                        {#<table class="table  table-bordered" id="editable-datatable">#}
                                        <thead>
                                        <tr>
                                            <th>Rubriques</th>
                                            <th>../15</th>
                                            <th>Oui</th>
                                            <th>Non</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Disponibilité support d'enregistrement?</th>
                                            <th id="notesss_1" onchange=" recuperec();"><input type="number" min="0"
                                                                                               max="20" class="note noteSupport"
                                                                                               name="notesupportEnreg" value="0">
                                            </th>

                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="supportEnreg"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="supportEnreg"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Support Enregistrement à jours</th>
                                            <th id="notesss_2" onchange=" recuperec();"><input type="number" min="0"
                                                                                               max="20" class="note noteSupport"
                                                                                               name="notesupportAjour" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="supportAjour"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="supportAjour"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Conformité marquage sur emballage conditionnement</th>
                                            <th id="notesss_3" onchange=" recuperec();"><input type="number" min="0"
                                                                                               max="20" class="note noteSupport"
                                                                                               name="notemarquageEmb" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="marquageEmb"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="marquageEmb"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Conformité unité de traitement en bois à la NIMP 15</th>
                                            <th id="notesss_4" onchange=" recuperec();"><input type="number" min="0"
                                                                                               max="20" class="note noteSupport"
                                                                                               name="noteuniteTraitementNTMP" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="uniteTraitementNTMP"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="uniteTraitementNTMP"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Palettes et Emballages en bois traités</th>
                                            <th id="notesss_5" onchange=" recuperec();"><input type="number" min="0"
                                                                                               max="20" class="note noteSupport"
                                                                                               name="notepaletteEmbTraite" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="paletteEmbTraite"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="paletteEmbTraite"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Palettes et Emballages en bois traités</th>
                                            <th id="notesss_6" onchange=" recuperec();"><input type="number" min="0"
                                                                                               max="20" class="note noteSupport"
                                                                                               name="notepaletteEmbTraite" value="0">
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="paletteEmbTraite"
                                                                                        value="oui"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="radio radio-success"><input type="radio"
                                                                                        name="paletteEmbTraite"
                                                                                        value="non"
                                                                                        class="styled"><label></label>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th><strong>TOTAL</strong></th>
                                            <th><span class="noteresupportTotal"></span></th>
                                            <th></th>
                                            <th></th>
                                        </tr>

                                        </tbody>
                                   
                                    </table>
                                  
                                </div>
                            </div>
                        </div>

                    </div>
                    {# <div class="panel" >
                         <button class="btn btn-success  col-sm-2"  type="submit" align="center" >SOUMETTTRE
                         </button></div>#}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Certificat obtenues
                            </a>
                        </h4> </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">

                            <div class="col-sm-12">
                                <div class="white-box">

                                    <table >
                                        <thead>
                                        <tr>

                                            <th>Rubriques</th>
                                            <th>Tesco</th>
                                            <th>Bio</th>
                                            <th>Global GAP</th>
                                            <th>../40</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <th>Type de certificat obtenu</th>
                                            <th>
                                                <div class="text"><input type="text" name="type_1"
                                                                         class="styled"><label></label></div>
                                            </th>
                                            <th>
                                                <div class="text"><input type="text" name="type_2"
                                                                         class="styled"><label></label></div>
                                            </th>
                                            <th rowspan="2">
                                                <div class="text"><input type="text" name="type_3" class="styled"></div>
                                            </th>
                                            <th rowspan="2">
                                                <div class="text"><input type="text" name="note_cert" class="styled">
                                                </div>
                                            </th>
                                        </tr>
                                        <tr >
                                            <th>Produit(s) Certifié(s)</th>
                                            <th>
                                                <div class="text"><input type="text" name="produit_1"
                                                                         class="styled"><label></label></div>
                                            </th>
                                            <th>
                                                <div class="text"><input type="text" name="produit_2"
                                                                         class="styled"><label></label></div>
                                            </th>
                                         
                                          
                                        </tr>
                               
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <input type="hidden" id="note_th_1" name="noteth_1">
                <input type="hidden" id="note_th_2" name="noteth_2">
                <input type="hidden" id="note_th_3" name="noteth_3">
                <input type="hidden" id="note_th_4" name="noteth_4">
                <input type="hidden" id="note_th_5" name="noteth_5">
                <input type="hidden" id="note_th_6" name="noteth_6">
                <input type="hidden" id="note_th_7" name="noteth_7">
                <input type="hidden" id="note_th_8" name="noteth_8">
                <input type="hidden" id="note_th_9" name="noteth_9">
                <input type="hidden" id="note_th_10" name="noteth_10">
                <input type="hidden" id="note_th_11" name="noteth_11">


                <input type="hidden" id="notes_th_1" name="notesth_1">
                <input type="hidden" id="notes_th_2" name="notesth_2">
                <input type="hidden" id="notes_th_3" name="notesth_3">


                <input type="hidden" id="notess_th_1" name="notessth_1">
                <input type="hidden" id="notess_th_2" name="notessth_2">


                <input type="hidden" id="notesss_th_1" name="notesssth_1">
                <input type="hidden" id="notesss_th_2" name="notesssth_2">
                <input type="hidden" id="notesss_th_3" name="notesssth_3">
                <input type="hidden" id="notesss_th_4" name="notesssth_4">
                <input type="hidden" id="notesss_th_5" name="notesssth_5">
                <input type="hidden" id="notesss_th_6" name="notesssth_6">
                {#<input type="hidden" id="note_th_12" name="noteth_12" >#}


            </form>
        </div>
    </div>

    <script src="{{ asset('assets/jquery.js') }}"></script>
    <script>

        $(document).ready(function () {
//
            $(".note").blur(function () {
                if ($(".note").val() > 20 || $(".note").val() < 0) {
                    alert("Mettez une note comprise entre 0 et 20 !");
                    $(this).val(0);
                }
            });
            /**
             *
             * @param tab
             * @returns {number}
             */
            $.sommeNote = function (tab) {
                somme = 0;
                $.each(tab, function (i, n) {

                    somme = parseInt(somme) + parseInt(n);

                });
                return parseInt(somme);
            };
            /**
             *
             * @param $key
             * @returns {*|jQuery|string|undefined}
             */
            $.getAllNote = function ($key) {
                $tab = Array.from($($key).get(), e => e.value);
                console.log($tab);
                return $tab;
            };

            total = 0;
  

            $('.noteStation').change(function () {
                note = $.getAllNote('.noteStation');
                total = $.sommeNote(note);
                $('.noteStationTotal').text(total);
                // alert(total)

            });

            $('.noteControle').change(function () {
                note = $.getAllNote(this);
                total = $.sommeNote(note);

                $('.noteControleTotal').text(total);

            })

            $('.noteResponsable').change(function () {
                note = $.getAllNote(this);
                total = $.sommeNote(note);

                $('.noteresponsableTotal').text(total);

            })
            $('.noteSupport').change(function () {
                note = $.getAllNote(this);
                total = $.sommeNote(note);

                $('.noteresupportTotal').text(total);

            })

        });
    </script>


{% endblock %}




