{% extends 'base.html.twig' %}

{% block body %}
    <br/> <br/>
    <div class="row">
        <div class="col-md-4 col-md-offset-8">

            <a href="{{ path('fiche_operateur') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>


    <h1 class="text-center">Demande de Monsieur/Madame {{ficheOper.producteur.prenom}} {{ficheOper.producteur.nom}}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            {#<td>{{ demande.id }}</td>#}
        </tr>
        <tr>
            <th>Typedemande</th>
            {#<td>{{ demande.typeDemande }}</td>#}
        </tr>
        <tr>
            <th>Datedepot</th>
            {#<td>{% if demande.dateDepot %}{{ demande.dateDepot|date('Y-m-d H:i:s') }}{% endif %}</td>#}
        </tr>
        </tbody>
    </table>

    <div class="panel panel-primary">
        <div class="panel-heading">Identification de l'opérateur</div>
        <div class="panel-body">
           {# <div class="row">
                <div class="col-md-3">
                    Prénom : {{demande.producteur.prenom}}
                </div>
                <div class="col-md-3">
                    Nom : {{demande.producteur.nom}}
                </div>
                <div class="col-md-3">
                    Adresse : {{demande.producteur.addresse}}
                </div>
                <div class="col-md-3">
                    Telephone : {{demande.producteur.numtel}}
                </div>
                <div class="col-md-3">
                    Ninea : {{demande.producteur.ninea}}
                </div>
                <div class="col-md-3">
                    Ville : {{demande.producteur.ville}}
                </div>
                <div class="col-md-3">
                    Département : {{demande.producteur.departement}}
                </div>
                <div class="col-md-3">
                    Téléphone fixe : {{demande.producteur.numfixe}}
                </div>
                <div class="col-md-3">
                    Email : {{demande.producteur.email}}
                </div>
            </div>#}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">représentant légal</div>
        <div class="panel-body">
            {#<div class="row">
                <div class="col-md-3">
                    Nom : {{demande.producteur.nomRep}}
                </div>
                <div class="col-md-3">
                    Prénom : {{demande.producteur.prenomRep}}
                </div>
                <div class="col-md-3">
                    Adresse : {{demande.producteur.addresseRep}}
                </div>
                <div class="col-md-3">
                    Fonction : {{demande.producteur.fonctionRep}}
                </div>
                <div class="col-md-3">
                    Mobile : {{demande.producteur.mobileRep}}
                </div>
                <div class="col-md-3">
                    Fixe : {{demande.producteur.fixeRep}}
                </div>
                <div class="col-md-3">
                    Département : {{demande.producteur.faxeRep}}
                </div>
                <div class="col-md-3">
                    Téléphone fixe : {{demande.producteur.emailRep}}
                </div>

            </div>#}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Responsable ou manager</div>
        <div class="panel-body">
           {# <div class="row">
                <div class="col-md-3">
                    Nom : {{demande.producteur.nomManager}}
                </div>
                <div class="col-md-3">
                    Prénom : {{demande.producteur.prenomManager}}
                </div>
                <div class="col-md-3">
                    Titre : {{demande.producteur.titreManager}}
                </div>
                <div class="col-md-3">
                    Télephone : {{demande.producteur.telManager}}
                </div>
                <div class="col-md-3">
                    Email : {{demande.producteur.emailManager}}
                </div>




            </div>#}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Activité de production</div>
        <div class="panel-body">
            {#<div class="row">
                <h4>PRODUCTION</h4>
                <div class="col-md-3">
                    Vulgarisation : {{demande.producteur.vulgarisation}}
                </div>
                <div class="col-md-3">
                    Régie : {{demande.producteur.regie}}
                </div>
                <div class="col-md-3">
                    Note production : {{demande.producteur.noteproduction}}
                </div>
            </div>#}
            {#<div class="row">
                <h4>CONITIONNEMENT</h4>
                <div class="col-md-3">
                    Bord de champ : {{demande.producteur.bordChamp}}
                </div>
                <div class="col-md-3">
                    En station : {{demande.producteur.enStation}}
                </div>
                <div class="col-md-3">
                    Note conditionnement : {{demande.producteur.notecond}}
                </div>
            </div>#}
           {# <div class="row">
                <h4>EXPORTATION</h4>
                <div class="col-md-3">
                    Europe : {{demande.producteur.europe}}
                </div>
                #}{#<div class="col-md-3">#}{#
                #}{#Autre : {{demande.producteur.autre}}#}{#
                #}{#</div>#}{#
                <div class="col-md-3">
                    Note exportation : {{demande.producteur.noteexportation}}
                </div>
            </div>#}
           {# <div class="row">
                <h4>PRESTATION</h4>
                <div class="col-md-3">
                    Exportation : {{demande.producteur.exportation}}
                </div>
                <div class="col-md-3">
                    Conditionnement : {{demande.producteur.conditionnement}}
                </div>
                <div class="col-md-3">
                    Note prestation : {{demande.producteur.noteprestation}}
                </div>
            </div>#}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Les sites de production</div>
     {#   <div class="panel-body">
            {% for site in siteproduction %}
                <div class="row">
                    <div class="col-md-3">
                        Périmétre : {{site.perimetre}}
                    </div>
                    <div class="col-md-3">
                        Localisation : {{site.localisation}}
                    </div>
                    <div class="col-md-3">
                        Superficie : {{site.superficie}}
                    </div>
                    <div class="col-md-3">
                        Spéculation : {{site.speculation}}
                    </div>
                </div>
            {% endfor %}
        </div>#}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Calendrier de production</div>
      {#  <div class="panel-body">
            {% for calendrier in calendrier %}
                <div class="row">
                    <div class="col-md-4">
                        Spéculation : {{calendrier.speculation}}
                    </div>
                    <div class="col-md-4">
                        Nom du site : {{calendrier.surfaceCultive}}
                    </div>
                    <div class="col-md-4">
                        Dae de début : {{calendrier.dateDebut}}
                    </div>
                    <div class="col-md-4">
                        Date de fin : {{calendrier.dateFin}}
                    </div>
                    <div class="col-md-4">
                        Destination : {{calendrier.destination}}
                    </div>
                </div>
            {% endfor %}
        </div>#}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Les sites de conditionnement</div>
     {#   <div class="panel-body">
            {% for site in siteconditionnement %}
                <div class="row">
                    <div class="col-md-4">
                        Spéculation : {{site.speculation}}
                    </div>
                    <div class="col-md-4">
                        Nom du site : {{site.sitecond}}
                    </div>
                    <div class="col-md-4">
                        Localisation : {{site.lacalisation}}
                    </div>
                </div>
            {% endfor %}
        </div>#}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Les certificats</div>
        <div class="panel-body">
         {#   <div class="row">
                {% for certificat in certificats %}

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img class="img-rounded" src="{{ asset('uploads/brochures/' ~ certificat.certificat) }}" width="140" height="140">
                            <div class="caption">
                                <h3>{{certificat.numeroCert}}</h3>
                                <p>Date certification : {{certificat.dateCert|date('Y-m-d H:i:s')}}</p>
                                <p>Date d'expiration : {{certificat.dateExp|date('Y-m-d H:i:s')}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>#}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Gestion des qualités</div>
        <div class="panel-body">
           {# <div class="row">
                <div class="col-md-3">
                    Nom : {{demande.producteur.nomManager}}
                </div>
                <div class="col-md-3">
                    Prénom : {{demande.producteur.prenomManager}}
                </div>
                <div class="col-md-3">
                    Titre : {{demande.producteur.titreManager}}
                </div>
                <div class="col-md-3">
                    Télephone : {{demande.producteur.telManager}}
                </div>
                <div class="col-md-3">
                    Email : {{demande.producteur.emailManager}}
                </div>




            </div>#}
        </div>
    </div>
    <ul>
        {#<li>
            <a href="{{ path('demande_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('demande_edit', { 'id': demande.id }) }}">Edit</a>
        </li>#}
        {# <li>
             {{ form_start(delete_form) }}
                 <input type="submit" value="Delete">
             {{ form_end(delete_form) }}
         </li>#}
    </ul>
{% endblock %}
