<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Connexion </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {# <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
</head>
<body>
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container">
    <!-- Navigation -->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">Projet TPA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="#about">Contact</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><i class="fa fa-hand-grab-o"></i><a href="#contact">Guide</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <!-- Navigation -->
    <div class="container">
        <div class="row">

            <div class="row text-center   ">
                <a class="logo text-white" href="{{ path("home_page") }}" style="color: white ;margin-top: 10px">

                    <span class="hidden-xs">
                          <img id="profile-img" src="{{ asset('logo.png') }}"/>
                    </span></a>

            </div>

        </div>
        <div class="form-signin ">


            <h4 class="form-signin-heading text-center "></h4>
            <h2 class="form-signin-heading text-center ">
                <span class="hidden-xs">
                Système de Gestion intégré des Exportions Agricoles
                </span></h2>

            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="{{ asset('images/User.png') }}"/>
                <p id="profile-name" class="profile-name-card"></p>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}

                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                           autocomplete="username" class="form-control"
                           placeholder="Adresse e-mail ou nom d'utilisateur" required autofocus>
                    <input type="password" id="password" name="_password" required="required"
                           autocomplete="current-password" class="form-control"
                           placeholder="Saisissez votre mot de passe" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Enregistrer
                        </label>
                    </div>
                    <div class="row form-group">
                        <button type="submit" id="_submit" name="_submit"
                                class="btn btn-lg btn-primary btn-block btn-signin">Se connecter
                        </button>
                    </div>

                    <div class="row form-group text-center">
                        <a href="{{ path('producteur_new') }}" class="forgot-password">

                            <span class="text-center">Demande de création de  compte </span>
                        </a>
                    </div>
                </form><!-- /form -->


            </div><!-- /card-container -->


        </div><!-- /  -->
    </div>

</div><!-- /container -->

<footer class="footer">
    <div class="container text-center">
        <p class="text-muted">Octobre 2019 &copy; .</p>
    </div>
</footer>


<script src="{{ asset('js/login.js') }}"></script>

</body>
</html>

{#
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>#}
