<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('template/plugins/images/pixeladmin-logo.png') }}">
    <title>Système de Gestion intégré des Exportions </title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('template/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/jquery-datatables-editable/datatables.css') }}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ asset('template/plugins/bower_components/sidebar-nav/dist/sidebar-nav.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{ asset('template/plugins/bower_components/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <!-- morris CSS -->
{#    <link href="{{ asset('template/plugins/bower_components/morrisjs/morris.css') }}" rel="stylesheet">#}
    <link href="{{ asset('template/plugins/bower_components/custom-select/custom-select.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/switchery/dist/switchery.min.css') }}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('template/css/animate.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('template/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/Enfant.css') }}" rel="stylesheet">

    <link href="{{ asset('template/plugins/bower_components/sidebar-nav/src/metisMenu.css') }}" rel="stylesheet">
{#    <link href="{{ asset('template/plugins/bower_components/morrisjs/morris.css') }}" rel="stylesheet">#}
    <!-- color CSS -->
    <link href="{{ asset('template/css/colors/green.css') }}" id="theme" rel="stylesheet">

    <!-- Page plugins css -->
    <link href="{{ asset('template/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css') }}" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="{{ asset('template/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css') }}" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="{{ asset('template/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="{{ asset('template/plugins/bower_components/timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">

    <link href="{{ asset('template/plugins/bower_components/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

    <link href="{{ asset('template/plugins/bower_components/footable/css/footable.core.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('template/plugins/bower_components/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('template/plugins/bower_components/css-chart/css-chart.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/jquery-wizard-master/css/wizard.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/multiselect/css/multi-select.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet">
    <link href="{{ asset('template/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css') }}" rel="stylesheet">
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->

</head>

<style>
    .file-field.big .file-path-wrapper {
        height: 3.2rem; }
    .file-field.big .file-path-wrapper .file-path {
        height: 3rem; }
    .fix-header .navbar-static-top #navbar-static-top{
        position: fixed;
        top: 0px;
        width: 100%;
    }
</style>

<body class="content-wrapper">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Navigation -->
    <!-- Navigation -->
    <nav id="navbar-static-top" class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header" style="position: fixed;">
            <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
               data-target=".navbar-collapse"><i class="ti-menu"></i>

            </a>
            <div class="top-left-part">
                <a class="logo" href="{{ path("home_page") }}"><b><span
                                class="hide-menu">ACCUEIL</span>
                         </b><span class="hidden-xs">
                        </span></a>
            </div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle  waves-light" data-toggle="dropdown" href="#">
                       <strong>
                           Système de Gestion intégré des Exportions Agricoles
                       </strong>
{#                        <div class="notify"><span class="heartbit"></span><span class="point">#}
{#                            </span></div>#}
                    </a>
                </li>
            </ul>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <ul class="nav navbar-top-links navbar-right pull-right">

                {#                <li class="dropdown">#}
                {#                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">#}
                {##}
                {#                        <div class="notify"><span class="heartbit"></span><span class="point">#}
                {#                            </span></div>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="dropdown">#}
                {#                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">#}
                {#                        <div class="notify"><span class="heartbit"></span><span class="point">#}
                {#                            </span></div>#}
                {#                    </a>#}
                {#                </li>#}

                <li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><i class="icon-envelope"></i>
                        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                    </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            {#                            <div class="drop-title"></div>#}
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="#">
                                    {#                                    <div class="user-img"> <img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">#}
                                    {#                                        <span class="profile-status online pull-right"></span> </div>#}
                                    {#                                    <div class="mail-contnet">#}
                                    {#                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> #}
                                    {#                                    </div>#}
                                </a>

                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);"> <strong>voir tous </strong> <i
                                        class="fa fa-angle-right"></i> </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>




                <!-- /.dropdown -->


                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                        <img src="{{ asset('template/plugins/images/pixeladmin-logo.png') }}" alt="user-img" width="36" class="img-circle">
                        <b class="hidden-xs">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                {{   app.user.username  }}
                            {% endif %}
                        </b> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
{#                        <li><a href="#"><i class="ti-email"></i> Notifications</a></li>#}
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="ti-settings"></i> Mon compte</a></li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        <li><a href="{{ path('fos_user_security_logout') }}">
                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
{#                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}#}
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-power-off"></i>
                                        {{ ' Deconnexion'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">
                                        <i class="fa fa-power-off"></i>{{ ' Connexion'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}</a>
                        </li>
                        {#<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Se déconnecter</a></li>#}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

                {#                <li class="right-side-toggle"> <a class="waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>#}

                <!-- /.dropdown -->
            </ul>
            {% endif %}
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- Navigation -->
    <!-- nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part">
                <h4 class="" style="text-align: center; color: white">
                    <strong>Système de Gestion intégré des Exportions Agricoles</strong>
                </h4>
            </div>
           
            <ul class="nav navbar-top-links navbar-right pull-right">
                {#<li class="dropdown"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                <i class="icon-user-following"> <b class="hidden-xs">Nouveau</b></i>#}
                <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
{#                </a>#}
                {# <ul class="dropdown-menu mailbox animated bounceInDown">
                     <li> <a href="{{ path('producteur_new') }}">
                             <div class="drop-title"> DEposer une Demande</div>
                         </a>
                     </li>

                     <li>
                        #}{# <div class="message-center">
                             <a href="#">
                                 <div class="user-img"> <img src="{{ asset('template/plugins/images/pixeladmin-logo.png') }}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                 <div class="mail-contnet">
                                     <h5>Aly Seck</h5> <span class="mail-desc">Administrateur et gerant</span> <span class="time">9:30 AM</span> </div>
                             </a>
                             <a href="#">
                                 <div class="user-img"> <img src="{{ asset('template/plugins/images/pixeladmin-logo.png') }}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                 <div class="mail-contnet">
                                     <h5>Aly Seck</h5> <span class="mail-desc">Administrateur et gerant</span> <span class="time">9:30 AM</span> </div>
                             </a>

                         </div>#}{#
                     </li>
                     #}{#<li>
                         <a class="text-center" href="javascript:void(0);"> <strong>Voir plus</strong> <i class="fa fa-angle-right"></i> </a>
                     </li>#}{#
                 </ul>#}

{#                </li>#}

                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="{{ asset('template/plugins/images/pixeladmin-logo.png') }}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Profile</b> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a href="{{ path('fos_user_security_logout') }}">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-power-off"></i>
                                        {{ ' Deconnexion'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">
                                        <i class="fa fa-power-off"></i>{{ ' Connexion'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}</a>
                        </li>
                        {#<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Se déconnecter</a></li>#}
                    </ul>

                </li>

                
                {#<!-- /.Megamenu -->#}
                {#<li class="right-side-toggle"> <a class="waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>#}
                {#<!-- /.dropdown -->#}
            </ul>
        </div>

    </nav -->
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
              

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-small-cap m-t-10"></li>
                    {#<li><a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Dashboard</span></a></li>#}

                    <li>
                        <a href="#" class="waves-effect"><i data-icon=")" class="ti-alarm-clock">

                            </i> <span class="hide-menu">GESTION DES DEMANDES<span class="fa arrow"></span>
{#                                <span class="label label-rouded label-danger pull-right">2 </span>#}
                            </span></a>
                        <ul class="nav nav-second-level">

                            {#<li><a href="{{ path('word') }}"><i class="fa-file"></i> Demande d'hadésion</a></li>#}

                            {#<li><a href="{{ path('email_send') }}"><i class="ti-user"></i> Envoi Email</a></li>#}

                                    <li><a href="{{ path('demande_index') }}">
                                        {#<i class="fa-file"></i>#}
                                        Demande en cours</a></li>
                                    <li><a href="{{ path('demande_valider', { 'statut': 1 }) }}">
                                         {#<i class="fa-file"></i>#}
                                        Demande validées</a></li>
                                    <li><a href="{{ path('demande_valider', { 'statut': 2 }) }}">
                                         {#<i class="fa-file"></i>#}
                                        Demande rejetées</a></li>
                            {#                            <li><a href="{{ path('producteur_new') }}"> Ajouter une demande </a></li>#}

                        </ul>
                    </li>


                    <li><a href="{{ path('utilisateur_index') }}"><i class="ti-user"></i> <span class="hide-menu">GESTION DES UTILISATEURS</span></a>
                    </li>
                     {#<li><a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">REPORTING<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{{ path('rapportControle') }}" class="waves-effect">Reporting<span class="fa arrow"></span></a>
                            </li>

                        </ul>
                    </li>#}
                {% endif %}



                {% if is_granted('ROLE_CONTROLEUR') %}
                    <li class="nav-small-cap m-t-10"></li>
                    {#<li><a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Dashboard</span></a></li>#}
                    
                    
                    <li>
               <a href="#" class="waves-effect"><i data-icon=")" class="ti-settings"></i>
                   <span class="hide-menu">CONTROLE<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right"></span></span></a>
                                <ul class="nav nav-third-level">
                                                                       <li><a href="{{ path('fiche_operateur') }}">
                                                                             <i class="fa-file"></i>
                                                                       Fiche Inspection de la Station de conditionnement</a></li>
                                                                   {#     <li><a href="{{ path('fiche_exportateur') }}">
                                                                          <i class="fa-file"></i>
                                                                            Rapport d'inspection</a></li>#}
                                                                       {# <li><a href="{{ path('fiche_evaluation_exportateur') }}">
                                                                             <i class="fa-file"></i>
                                                                            Fiche Evaluation Exportation mangue</a></li>#}
                                    <li><a href="{{ path('inspection_index') }}" class="waves-effect">Liste des demandes
                                            d'inspection</a></li>
                                    <li><a href="{{ path('inspection_index') }}" class="waves-effect">Liste des demandes
                                            traitées</a></li>
                                    {#<li><a href="{{ path('accuserreception') }}"><i class="fa-file"></i> Accuse de reception</a></li>#}
                                </ul>
                            </li>
                  
                {% endif %}





                {% if is_granted('ROLE_AGENT') %}
                    <li class="nav-small-cap m-t-10"></li>
                    {#<li><a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Dashboard</span></a></li>#}
                    
                    
                    <li>
                         <a href="#" class="waves-effect"><i data-icon=")" class="ti-check"></i>
                             <span class="hide-menu">RAPPORT D'INSPECTION<span class="fa arrow"></span>
                                 <span class="label label-rouded label-danger pull-right"></span></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="{{ path('rapport_inspection_index') }}">
                                         {#<i class="fa-file"></i>#} 
                                        En cours</a></li>

                                    <li><a href="{{ path('inspection_validee') }}">
                                        {#<i class="fa-file"></i>#}
                                        Validée</a></li>
                                   <li><a href="{{ path('inspection_rejetee') }}">
                                        {#<i class="fa-file"></i>#}
                                       Rejétée</a></li>
{#                            </li>#}
                                    {#<li><a href="{{ path('accuserreception') }}"><i class="fa-file"></i> Accuse de reception</a></li>#}
                                    <li><a href="{{ path('demande_inspection') }}">
                                            {#<i class="fa-file"></i>#}
                                            Ajouter une demande d'inspection</a></li>
                                </ul>
                    </li>
                  
                {% endif %}








                {% if is_granted('ROLE_PRODUCTEUR') %}
                    <li class="nav-small-cap m-t-10"></li>
                    {#<li><a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Dashboard</span></a></li>#}
                    <li>
                     <a href="#" class="waves-effect"><i data-icon=")" class="ti-agenda"></i> <span class="hide-menu">PRODUCTION<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="" class="waves-effect">Campagne<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="{{ path('campagne_new') }}">Nouvelle campagne</a></li>
                                    <li> <a href="{{ path('campagne_index') }}">Liste des campagnes</a></li>
                                    <li><a href="{{ path('fiche_inspection') }}" class="waves-effect">demande inspection</a> </li>
                                    {#<li> <a href="{{ path('campagne_show') }}">Visualiser une campagne</a></li>#}
                              


                                </ul>
                            </li>
                            <li><a href="" class="waves-effect">Lot<span class="fa arrow"></span></a>
                                  <ul class="nav nav-third-level">
                                      <li> <a href="{{ path('lot_new') }}">Créer un lot</a></li>
                                      <li> <a href="{{ path('lot_index') }}">Liste des lots</a></li>

                                  </ul>
                            </li>
                            <li><a href="{{ path('detaillot_index') }}" class="waves-effect">Détail des lots<span class="fa arrow"></span></a>
                                  <ul class="nav nav-third-level">
                                      <li> <a href="{{ path('detaillot_new') }}">Nouveau</a></li>
                                      <li> <a href="{{ path('lot_index') }}">Liste details lots</a></li>
                                  </ul>
                            </li>
                            <li><a href="javascript:void(0)" class="waves-effect">Registre<span class="fa arrow"></span></a>
                                  <ul class="nav nav-third-level">
                                      <li> <a href="{{ path('registrepalettisation_new') }}">Registre de palettisation</a></li>
                                      <li> <a href="{{ path('registrereception_new') }}">Registre de reception</a></li>
                                  </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_EXPORTATEUR') %}
                    <li class="nav-small-cap m-t-10"></li>
                    {#<li><a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Dashboard</span></a></li>#}
           <li><a href="inbox.html" class="waves-effect"><i data-icon=")" class="ti-export"></i> <span class="hide-menu">EXPORTATION<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{{ path('producteur_maj') }}" class="waves-effect">Mise à jours des données<span class="fa arrow"></span></a>
                            </li>
                           {# <li><a href="{{ path('suivi_notification_mangue') }}" class="waves-effect">Suivi Notification Mangues</a>
                            </li>#}
                            <li><a href="{{ path('ficheexportation_index') }}" class="waves-effect">Fiche d'exportation</a> </li>
                            <li><a href="{{ path('fiche_inspection') }}" class="waves-effect">demande inspection</a> </li>
                            {#<li><a href="{{ path('essai') }}" class="waves-effect">Gestion des rejets</a> </li>#}
                            {#<li><a href="{{ path('liste_rejet', { 'numero': 2 }) }}" class="waves-effect">Liste des rejets</a> </li>#}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                    <li><a href="javascript:void(0)" class="waves-effect">STATISTIQUES<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li> <a href="{{ path('statistique') }}">Demandes</a></li>
                            {#                            <li> <a href="{{ path('statistique_demande') }}">Produits</a></li>#}

                        </ul>
                    </li>
                    </li>
                {% endif %}



                {# {% if is_granted('ROLE_CONTROLEUR') %}
                     <li class="nav-small-cap m-t-10"></li>
                     #}{#<li><a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Dashboard</span></a></li>#}{#
                     <li><a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">CONTROLE<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right"></span></span></a>
                         <ul class="nav nav-second-level">
                             <li><a href="{{ path('rapportControle') }}" class="waves-effect">Editer Rapport de controle<span class="fa arrow"></span></a>
                             </li>
                             <li><a href="javascript:void(0)" class="waves-effect">Mise à jours des données<span class="fa arrow"></span></a>
                             </li>


                         </ul>
                     </li>
                 {% endif %}#}
                {#   {% if is_granted('ROLE_DPV') %}
                       <li class="nav-small-cap m-t-10"></li>
                       #}{#<li><a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Dashboard</span></a></li>#}{#
                       <li><a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">CONTROLE<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right"></span></span></a>
                           <ul class="nav nav-second-level">
                               <li><a href="javascript:void(0)" class="waves-effect">Rapports inspections opérateurs<span class="fa arrow"></span></a>
                               </li>
                               <li><a href="javascript:void(0)" class="waves-effect">Inspections des etablissements d'exportation<span class="fa arrow"></span></a>
                               </li>
                               <li><a href="{{ path('liste_rejet', { 'numero': 1 }) }}" class="waves-effect">Liste des exportations</a> </li>
                               <li><a href="{{ path('liste_rejet', { 'numero': 2 }) }}" class="waves-effect">Liste des rejets</a> </li>

                           </ul>
                       </li>
                   {% endif %}#}


            </ul>
        </div>
    </div>

    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper" >
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
        <!-- /.container-fluid -->
        <footer style="position: fixed" class="footer text-center"> Octobre 2019  &copy;  </footer>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ asset('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
<script src="{{ asset('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>

<script src="{{ asset('template/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/jquery.js') }}"></script>

<script src="{{ asset('js/metisMenu.js') }}"></script>
<script src="{{ asset('js/raphael.js') }}"></script>
{#<script src="{{ asset('js/morris.js') }}"></script>#}
{#<script src="{{ asset('js/morris-data.js') }}"></script>#}
<script src="{{ asset('js/sb-admin-2.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('template/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js') }}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{{ asset('template/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
<!--slimscroll JavaScript -->
<script src="{{ asset('template/js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/switchery/dist/switchery.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/custom-select/custom-select.min.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('template/js/waves.js') }}"></script>
<!--Counter js -->
<script src="{{ asset('template/plugins/bower_components/waypoints/lib/jquery.waypoints.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/counterup/jquery.counterup.min.js') }}"></script>
<!--Morris JavaScript -->
{#<script src="{{ asset('template/plugins/bower_components/raphael/raphael-min.js') }}"></script>#}
{#<script src="{{ asset('template/plugins/bower_components/morrisjs/morris.js') }}"></script>#}
<!-- Custom Theme JavaScript -->
<script src="{{ asset('template/js/custom.min.js') }}"></script>


{#<script src="{{ asset('template/js/dashboard1.js') }}"></script>#}

<script src="{{ asset('template/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/toast-master/js/jquery.toast.js') }}"></script>
<!-- Plugin JavaScript -->
<script src="{{ asset('template/plugins/bower_components/moment/moment.js') }}"></script>
<!-- Clock Plugin JavaScript -->
<script src="{{ asset('template/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js') }}"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="{{ asset('template/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js') }}"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="{{ asset('template/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<!-- Date range Plugin JavaScript -->
<script src="{{ asset('template/plugins/bower_components/timepicker/bootstrap-timepicker.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/datatables/jquery.dataTables.min.js') }}"></script>
<!-- start - This is for export functionality only -->
<script src="{{ asset('https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
<script src="{{ asset('https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
<script src="{{ asset('https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}"></script>



<script src="{{ asset('template/plugins/bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/bootstrap-table/dist/bootstrap-table.ints.js') }}"></script>
<script src="{{ asset('template/js/footable-init.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/footable/js/footable.all.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/bootstrap-select/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/datatables/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/tiny-editable/mindmup-editabletable.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/tiny-editable/numeric-input-example.js') }}"></script>

<script src="{{ asset('template/plugins/bower_components/multiselect/js/jquery.multi-select.js') }}"></script>

{#<script src="{{asset('template/plugins/bower_components/flot/excanvas.min.js') }}"></script>#}
<script src="{{asset('js/jquery.timepicker.js') }}"></script>

{#<script src="{{ asset('template/plugins/bower_components/flot/jquery.flot.js') }}"></script>#}
{#<script src="{{ asset('template/plugins/bower_components/flot/jquery.flot.pie.js') }}"></script>#}
{#<script src="{{ asset('template/plugins/bower_components/flot/jquery.flot.resize.js') }}"></script>#}
{#<script src="{{ asset('template/plugins/bower_components/flot/jquery.flot.time.js') }}"></script>#}
{#<script src="{{ asset('template/plugins/bower_components/flot/jquery.flot.stack.js') }}"></script>#}
{#<script src="{{ asset('template/plugins/bower_components/flot/jquery.flot.crosshair.js') }}"></script>#}
{#<script src="{{ asset('template/plugins/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>#}
{#<script src="{{ asset('template/js/flot-data.js') }}"></script>#}
<script src="{{ asset('template/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js') }}"></script>


<script type="text/javascript">
    (function() {
        $('#exampleBasic').wizard({
            onFinish: function() {
                alert('finish');
            }
        });
        $('#exampleBasic2').wizard({
            onFinish: function() {
                alert('finish');
            }
        });
        $('#exampleValidator').wizard({
            onInit: function() {
                $('#validation').formValidation({
                    framework: 'bootstrap',
                    fields: {
                        username: {
                            validators: {
                                notEmpty: {
                                    message: 'The username is required'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: 'The username must be more than 6 and less than 30 characters long'
                                },
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: 'The email address is required'
                                },
                                emailAddress: {
                                    message: 'The input is not a valid email address'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: 'The password is required'
                                },
                                different: {
                                    field: 'username',
                                    message: 'The password cannot be the same as username'
                                }
                            }
                        }
                    }
                });
            },
            validator: function() {
                var fv = $('#validation').data('formValidation');
                var $this = $(this);
                // Validate the container
                fv.validateContainer($this);
                var isValidStep = fv.isValidContainer($this);
                if (isValidStep === false || isValidStep === null) {
                    return false;
                }
                return true;
            },
            onFinish: function() {
                $('#validation').submit();
                alert('finish');
            }
        });
        $('#accordion').wizard({
            step: '[data-toggle="collapse"]',
            buttonsAppendTo: '.panel-collapse',
            templates: {
                buttons: function() {
                    var options = this.options;
                    return '<div class="panel-footer"><ul class="pager">' + '<li class="previous">' + '<a href="#' + this.id + '" data-wizard="back" role="button">' + "Précédent" + '</a>' + '</li>' + '<li class="next">' + '<a href="#' + this.id + '" data-wizard="next" role="button">' + "Suivant" + '</a>' + '<a href="#' + this.id + '" data-wizard="finish" role="button">' + "Enregistrer" + '</a>' + '</li>' + '</ul></div>';
                }
            },
            onBeforeShow: function(step) {
                step.$pane.collapse('show');
            },
            onBeforeHide: function(step) {
                step.$pane.collapse('hide');
            },
            onFinish: function() {
                $('form').submit();
            }
        });
        $('#accordionInscription').wizard({
            onInit: function() {

               // $("#btnSoumettre").hide();

                $('#accordionInscription form').formValidation({
                    framework: 'bootstrap',
                    fields: {
                        'tpabundle_inscription[producteur][0][prenom]': {
                            validators: {
                                notEmpty: {
                                    message: ' Obligatoire'
                                },
                                stringLength: {
                                    min: 2,
                                    max: 30,
                                    message: 'le prénom doit etre au minimun 2 lettres '
                                }
                            }
                        },

                        'tpabundle_inscription[producteur][0][nom]': {
                            validators: {
                                notEmpty: {
                                    message: 'Obligatoire'
                                }
                            }
                        },
                        // 'tpabundle_inscription[producteur][0][regie]': {
                        //     validators: {
                        //         notEmpty: {
                        //             message: 'Obligatoire'
                        //         }
                        //     }
                        // },

                        'tpabundle_inscription[producteur][0][numTel]': {
                            validators: {
                                notEmpty: {
                                    message: 'Obligatoire'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: 'le Telephone doit être au minimun 6 chiffres '
                                },
                            regexp: {
                                regexp: /^[0-9\-\(\)\s]+$/,
                                message: 'Telephone incorrect '
                            }
                            }
                        }
                        ,
                        'tpabundle_inscription[producteur][0][email]': {
                            validators: {
                                notEmpty: {
                                    message: 'Veuillez saisir un email valide'
                                },
                                emailAddress: {
                                    message: 'Veuillez saisir un email valide'
                                }
                            }
                        } 
                    }
                });
            },
            validator: function() {
                var fv = $('#accordionInscription form').data('formValidation');
                var $this = $(this);
                // Validate the container
                fv.validateContainer($this);
                var isValidStep = fv.isValidContainer($this);
                if (isValidStep === false || isValidStep === null) {
                    return false;
                }
                return true;
            },
            step: '[data-toggle="collapse"]',
            buttonsAppendTo: '.panel-collapse',
            templates: {
                buttons: function() {
                    var options = this.options;
                    return '<div class="panel-footer"><ul class="pager">' + '<li class="previous">' + '<a href="#' + this.id + '" data-wizard="back" role="button">' + "Précédent" + '</a>' + '</li>' + '<li class="next">' + '<a href="#' + this.id + '" data-wizard="next" role="button">' + "Suivant" + '</a>' + '<button href="#' + this.id + '" class="btn success previous" data-wizard="finish" type="submit" id="btnSoumettre" role="button">' + "Soumettre" + '</button>' + '</li>' + '</ul></div>';
                }
            },
            onBeforeShow: function(step) {
                step.$pane.collapse('show');
                //var acceptation = $("#acceptation").checked();
                // var acceptation = $('input[type=checkbox]').attr('checked');




            },
            onBeforeHide: function(step) {
                step.$pane.collapse('hide');
            },
            onFinish: function() {
                // console.log(this);
                $('#accordionInscription form').submit();
                $ok = $('form').submit();
                console.log($ok);
                console.log("$ok")
                // $('#accordionInscription').submit();
                // $('tpabundle_inscription').submit();
                // $("form[name='tpabundle_inscription']").submit();

            }
        });

    })();
</script>

<script type="text/javascript">
    // $(document).ready(function() {
    //     $.toast({
    //         heading: 'Bienvenue dans TPA',
    //         text: '',
    //         position: 'top-right',
    //         loaderBg: '#5679d7',
    //         icon: 'info',
    //         hideAfter: 3500,
    //         stack: 6
    //     })
    // });
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function() {
        console.log(this.value);
    });
    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'DD/MM/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'DD/MM/YYYY',
        minDate: '01/01/2018',
        maxDate: '01/01/2019',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });

    $(document).ready(function() {

       // $('#myTable').DataTable();

            $('#myTable').DataTable( {
                "language": {
                    "sEmptyTable":     "Aucune donnée disponible dans le tableau",
                    "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix":    "",
                    "sInfoThousands":  ",",
                    "sLengthMenu":     "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing":     "Traitement...",
                    "sSearch":         "Rechercher :",
                    "sZeroRecords":    "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst":    "Premier",
                        "sLast":     "Dernier",
                        "sNext":     "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
                }
            } );



        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>

<script>
    $('#mainTable1').editableTableWidget().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>

<script>
    $('#mainTableControle').editableTableWidget().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>
<script>
    $('#mainTableResponsable').editableTableWidget().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>
<script>
    $('#mainTableSystem').editableTableWidget().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>
{#
<script>
    setTimeout(
    $(function () {
        $('#datetimepicker6').datepicker;
        $('#datetimepicker7').datepicker({
            useCurrent: false //Important! See issue #1075
        });
        $('#datetimepicker6').on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $('#datetimepicker7').on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    }),3000);
</script>#}

<script>
    $('#mainTable2').editableTableWidget().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>
<script>
    $('.mainTableC').editableTableWidget().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>

<script>






</script>
 <script>
         function poidsnet(tmp){
                document.getElementById("poids").value = Number(tmp) + Number(document.getElementById("poids").value);
		  	}
        
            function totauxcalibres(tmp){
                document.getElementById("totaux").value = Number(tmp) + Number(document.getElementById("totaux").value);
		  	}
               function nombreCartons(tmp){
                document.getElementById("nombrecarton").value = Number(tmp) + Number(document.getElementById("nombrecarton").value);
		  	}
 </script>

<script>$(function () {
        jQuery(document).ready(function() {
            console.log("jQuery est prêt !");

            // $("#app_user_registration_roles").val("ROLE_PRODUCTEUR");
            // $("#app_user_registration_roles").parent().hide();
            // $("#app_user_registration_roles").parent().hide();
            $("#app_user_registration_roles option:first").attr('selected', 'selected');

            // alert("hi");

            $(".payclass").change(function() {
                mafonctionchange('region','pay');
            }).trigger('change');

            $(".regionclass").change(function() {
                mafonctionchange('ville', 'region');
            });

            function mafonctionchange(selecteur,selecteurparent)
            {
                $.ajax({
                    url: 'http://localhost/Symfony/web/app_dev.php/form/rempli',
                    type: 'POST',
                    data:
                        {
                            id : $("select."+selecteurparent+"class option:selected").val(),
                            select : selecteur
                        },
                    dataType: 'json',
                    success: function(reponse) {

                        $('.'+selecteur+'class').empty();
                        $.each(reponse, function(index, element) {
                            $('.' + selecteur + 'class').append('<option value="'+ element.id +'" selected="selected"> '+ element.nom +' </option>');
                        });

                        if (selecteur == 'region') {
                            mafonctionchange('ville','region');
                        }
                    }
                });
            }
        });
    });</script>




<script>
    /*
      * trigger="true" permet de dire que c'est l'élément le plus haut qui fait varier toutes les autres listes
      * target=[id_cible] permet de spécifier la liste qui doit varier au changement de la sélection
      * reference=[id_reference] est l'id de l'élément parent qui déclenche la mise à jour de la liste
    */

    //Fonction qui s'occupe de la mise à jour des listes
    function updateSelectBox(object){
        // Object correspond au input qui déclenche l'action (pays dans notre cas)
        // On récupère le select (département) qui doit être mise à jour suite au changement du parent (pays)
        var target = $("#"+object.attr('target'));

        // On récupère tous les optgroup du select cible spécifié avec target (les optgroup du select département)
        var listGroups = target.find("optgroup");

        // On récupère le optgroup qui correspond à la valeur courante du select parent (pays)
        var validGroup = target.find("optgroup[reference='"+object.find(':selected').val()+"']");

        //On modifie la valeur courante du select cible (département)
        target.val(validGroup.find("option").val());

        //On cache tous les optgroup de département
        listGroups.hide();

        //On affiche uniquement le optgroup de département qui correspond à la valeur courante de pays
        validGroup.show();

        //On vérifie si la cible (département) doit déclencher une mise à jour d'une autre liste
        // Département peut par exemple déclencher la mise à jour des villes, et les villes déclenches celle des quartiers...
        if(target.attr('content-type')=='choices')
            target.change();
    }

    //On associe la fonction updateSelectBox à l'événement onchange des listes qui doivent déclencher des mises à jour d'autres listes
    $("select[content-type='choices']").on('change',function(){
        updateSelectBox($(this));
    });

    //On fait la première mise à jour des
    $(document).ready(function(){
        updateSelectBox($("select[trigger='true']"));
    });</script>




<script src="{{ asset('js/tableau.js') }}"></script>
<script src="{{ asset('template/js/jasny-bootstrap.js') }}"></script>
<script src="{{ asset('js/siteProduction.js') }}"></script>
<script src="{{ asset('js/suiviNotification.js') }}"></script>
<script src="{{ asset('js/representant.js') }}"></script>
<script src="{{ asset('js/ficheOperateur.js') }}"></script>
<script src="{{ asset('template/plugins/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>

<script>


    $('#nb_spec').keyup(function () {

        var nombre=($('#nb_spec').val());
//        alert(nombre);



    }).change(function () {
        var nombre=($('#nb_spec').val());
//        alert(nombre);

    });

</script>
<script>
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>
<script>
    $('.mainTables').editableTableWidget().numericInputExample().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>
<script>
    $('.mainTabless').editableTableWidget().numericInputExample().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();
    });
</script>
<script>
    $('.mainTablesss').editableTableWidget().numericInputExample().find('td:first').focus();
    $('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
    $(document).ready(function() {
        $('#editable-datatable').DataTable();


       // alert("$ ready");

        function cercle(selecteur,tableau,titre){
            $(selecteur).sparkline(tableau, {
                type: 'pie',
                width: '200px',
                height: '200px',
                sliceColors: ['#2eb95b', '#c95761', '#9de49d', '#9074b1', '#66aa00', '#dd4477', '#0099c6', '#990099'],
                borderWidth: 7,
                borderColor: '#f5f5f5',
                {% raw %}
                tooltipFormat: '<span style="color: {{color}}">&#9679;</span> {{offset:names}} ({{percent.1}}%)',
                {% endraw %}
                tooltipValueLookups: {
                    names: {
                        0: titre,
                        1: 'Non '+titre,
                        2: 'Unmotivated',
                        3: 'Three',
                        4: 'Four',
                        5: 'Five'
                        // Add more here
                    }
                }
            });
        }
//[20, 40, 30]
            p1=$("#pourcantageValide").val();
             p2=100-p1;
             if(p2 >=0){

                 cercle("#cercleDemande",[p1, p2],'Traité (Demandes)');
             }

             p1=$("#pourcantageValide2").val();
             p2=100-p1;
             if(p2 >=0){

                 cercle("#cercleRejets",[p1, p2],'Traité (inspections)');
             }


       // cercle("#cercleRejets",[p3, 40],'Exporté');






    });
</script>


</body>

</html>

