{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme form '/bootstrap_3_horizontal_layout.html.twig' %}

<div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"></h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
            
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Ajouter fiche d'exportation</h3>
            <p class="text-muted m-b-30"></p>
             <h1 class="text-center"> </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
            <div class="row text-center ">

        <span class="">
              <input type="reset" value="Annuler" class="btn btn-danger "/>
        </span>

                <span class="">
              <input type="submit" value="Valider" class="btn btn-primary "/>
        </span>

            </div>
    {{ form_end(form) }}

</div>
    </div>
</div>


{% endblock %}
