{% extends "baseLogin.html.twig" %}
{% block body %}



    <!-- intro -->
    <div class="intro content-wrapper about spacer" id="haut">

        <div class="ab-wrap">
            <div class="fullpage">
                <div class="ab-center">
                    <div class="wowload fadeInDown">
                        {#                        <img src="{{ asset('images/log.jpg') }}" class="wowload rotateIn">#}

                        <h1 class="title">Système de Gestion intégré des Exportations Agricoles</h1>
                        <p><br>
                            Inscrivez vous ou accéder à votre Compte .</p>
                        <form class="form-inline">
                            <a href="{{ path('fos_user_security_login') }}">
                            <span class="btn btn-success">

                                    Connexion
                            </span>
                            </a>

                            <a href="{{ path('producteur_new') }}">
                                <span class="btn btn-success">
                               Inscription</span>
                            </a>


                        </form>
                    </div>
                </div>
            </div>
        </div>

        {#<a href="#about" class="anchor scroll wowload fadeInDownBig"><i class="fa fa-angle-down  fa-4x"></i></a>#}

    </div>
    <!-- intro -->


    <!-- about -->
    <div class="about spacer" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wowload fadeInLeftBig">
                    <h3>A propos</h3>
                    <p>
                        La traçabilité agroalimentaire est l'application des principes de traçabilité à la filière
                        agroalimentaire, afin d'atteindre des objectifs de sécurité sanitaire des aliments.

                        Elle vise à mieux qualifier les produits mis sur le marché, à une meilleure maîtrise des dangers
                        et à abaisser les niveaux de risques. La traçabilité est en effet nécessaire pour remonter à la
                        source d'un problème d'intoxication alimentaire ou d'une fraude.

                        Elle est de plus en plus imposée par les certifications.</p>
                    {#                    <a href="#"><img src="{{ asset('images/app-store.png') }}"></a> #}
                    <a href="#"><img src="">Plus de détails</a>
                </div>
                <div class="col-md-6 text-center"><a href="#" target="_blank" title=""><img src="images/iphone.png"
                                                                                            class="img-responsive wowload fadeInUp"
                                                                                            alt="#"></a></div>
            </div>
        </div>
    </div>
    <!-- about -->



    <!-- portfolio -->
    {#    <div class="portfolio" id="guide">#}
    {#        <div class="spacer">#}
    {#            <div class="container">#}
    {#                <h2 class="text-center">Screenshots</h2>#}
    {#                <div id="carousel-about" class="carousel slide wowload fadeInUp" data-ride="carousel">#}
    {#                    <div class="carousel-inner" role="listbox">#}
    {#                        <div class="item active"><img src="{{ asset('images/photos/1.jpg') }}" class="img-responsive"></div>#}
    {#                        <div class="item"><img src="{{ asset('images/photos/2.jpg') }}" class="img-responsive"></div>#}
    {#                        <div class="item"><img src="{{ asset('images/photos/3.jpg') }}" class="img-responsive"></div>#}
    {#                    </div>#}
    {#                    <!-- Controls -->#}
    {#                    <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev"><i class="fa fa-3x fa-angle-left"></i></a>#}
    {#                    <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next"><i class="fa fa-3x fa-angle-right"></i></a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <!-- portfolio -->


    <!-- contact -->
    <div class="contact wowload fadeIn">

        <div class="container" id="contact">
            <h2 class="text-center">Contacter nous</h2>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form>
                        <div class="form-group">
                            <input id="name" name="name" type="text" class="form-control" placeholder="Nom et prenom">
                        </div>
                        <div class="form-group">
                            <input id="email" name="email" type="email" class="form-control"
                                   placeholder="Adresse email">
                        </div>
                        <div class="form-group">
                            <textarea id="message" name="message" class="form-control" placeholder="Message "
                                      rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning"><i class="fa fa-send-o"></i> Envoyer</button>
                    </form>

                </div>
            </div>
        </div>
    </div> */
    <!-- contact -->



{% endblock %}
