{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personne </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="row text-center ">

        <span class="">
              <input type="reset" value="Annuler" class="btn btn-danger "/>
        </span>

        <span class="">
              <input type="submit" value="Valider" class="btn btn-primary "/>
        </span>

    </div>
    {{ form_end(form) }}


{% endblock %}
