{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personne</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personne.prenom }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ personne.mobile }}</td>
            </tr>
            <tr>
                <th>Fixe</th>
                <td>{{ personne.fixe }}</td>
            </tr>
            <tr>
                <th>Faxe</th>
                <td>{{ personne.faxe }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personne.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('personne_edit', { 'id': personne.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div class="row text-center ">

        <span class="">
              <input type="reset" value="Annuler" class="btn btn-danger "/>
        </span>

                <span class="">
              <input type="submit" value="Valider" class="btn btn-primary "/>
        </span>

            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
