

<div class="col-md-6">
    <div class="white-box">
        <h3 class="box-title m-b-0">Sample Forms with Right icon</h3>
        <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">

                <form action="{{ path("fos_user_registration_register") }}" method="post">
                <div class="form-group">
                    <label for="exampleInputuname">User Name</label>
                    <div class="input-group">

                        <input type="text" class="form-control" id="exampleInputuname" placeholder="Username">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputpwd1">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputpwd1" placeholder="Enter pwd">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputpwd2">Confirm Password</label>
                    <div class="input-group">
                        {{ form_widget(form.secondpassword,{'attr':{'class':'input-group-addon', 'type':'text','placeholder':'Enter pwd'}}) }}
                        <input type="password" class="form-control" id="exampleInputpwd2" placeholder="Enter pwd">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-success">
                        <input id="checkbox2" type="checkbox">
                        <label for="checkbox2"> Remember me </label>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
{#<div class="assessment-container container">
    <div class="row">
        <div class="col-md-6 form-box">
            {{ form_start(form,{'attr':{'role':'form','class':'registration-form'}}) }}
            #}{#<form role="form" class="registration-form" action="javascript:void(0);">#}{#
            <fieldset>
                <div class="form-top">
                    <div class="form-top-left">
                        <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Production/Exportation de fruits et légumes frais</h3>
                        <p>Création d'un nouvel utilisateur
                        </p>
                    </div>
                </div>
                <div class="form-bottom">

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6">
                            {{ form_errors(form) }}
                            {{ form_widget(form)}}
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="submit" >Submit
                </button>
            </fieldset>

            {{ form_end(form) }}
            #}{#</form>#}{#
        </div>
    </div>


</div>#}

{#<script type="text/javascript">
    $(document).ready(function () {
        $('.registration-form fieldset:first-child').fadeIn('slow');

        $('.registration-form input[type="text"]').on('focus', function () {
            $(this).removeClass('input-error');
        });

        // next step
        $('.registration-form .btn-next').on('click', function () {
            var parent_fieldset = $(this).parents('fieldset');
            var next_step = true;

            parent_fieldset.find('input[type="text"],input[type="email"]').each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('input-error');
                    next_step = false;
                } else {
                    $(this).removeClass('input-error');
                }
            });

            if (next_step) {
                parent_fieldset.fadeOut(400, function () {
                    $(this).next().fadeIn();
                });
            }

        });

        // previous step
        $('.registration-form .btn-previous').on('click', function () {
            $(this).parents('fieldset').fadeOut(400, function () {
                $(this).prev().fadeIn();
            });
        });

        // submit
        $('.registration-form').on('submit', function (e) {

            $(this).find('input[type="text"],input[type="email"]').each(function () {
                if ($(this).val() == "") {
                    e.preventDefault();
                    $(this).addClass('input-error');
                } else {
                    $(this).removeClass('input-error');
                }
            });

        });


    });
</script>#}

{#  <h1>Producteur creation</h1>

  {{ form_start(form) }}
      {{ form_widget(form) }}
      <input type="submit" value="Create" />
  {{ form_end(form) }}

  <ul>
      <li>
          <a href="{{ path('producteur_index') }}">Retour</a>
      </li>
  </ul>#}

