{#
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Edition Utilisateur</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}#}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Modifier utilisateur</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

         {#   <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Form Wizard</li>
            </ol>#}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="white-box">
            <h3 class="box-title m-b-0"></h3>
            <p class="text-muted m-b-30 font-13"> </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    {% form_theme edit_form '/bootstrap_3_layout.html.twig' %}
                    {{ form_start(edit_form,{'attr':{'role':'form','class':'registration-form'}}) }}

                    <div class="row">
                        <p class="text-danger ">
                            {% if message is defined %}
                                {{ message }}
                            {% endif %}
                        </p>

                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Modifier
                            </button>
                            <button type="submit" class="btn btn-inverse waves-effect waves-light"><a
                                        href="{{ path('utilisateur_index') }}">Annuler</a></button>
                        </div>
                    </div>


                    {{ form_end(edit_form) }}
                    {#</form>#}

                </div>
            </div>
        </div>
    </div>



    <ul>

    </ul>
{% endblock %}