{% extends 'base.html.twig' %}
{% block body %}
           
        <div class="row">
            <div class="col-sm-12">
            <div class="white-box">
            <h3 class="box-title m-b-0">Gestion des utilisateurs</h3>
            <p class="text-muted m-b-30">
                <p class="text-muted m-b-30" align="right"><a href="{{ path('utilisateur_nouvel' ) }}"><b>
                            <span class="btn btn-success"> <img src=" {{ asset('images/aj.gif') }}"
                                                                title="Nouvel Utilisateur">Nouvel Utilisateur</span>
                        </b></a></p></p>
            <div class="table-responsive">
                    <table id="myTable" class="table table-striped">

                        <thead>
                        <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Nom d'utilisateur</th>
                            <th>email</th>
                            <th>Profile</th>
                            <th>Activation</th>
                            {#                            <th>Roles</th>#}
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.getMaxRole() }}</td>
                                {#                                <td>{% for role in user.roles %}#}
                                {#                                        {{ role }},{% endfor %}#}
                                {#                                </td>#}
                                <td>
                                    {% if(user.enabled == 1) %}
                                        Active
                                    {% else %}
                                        desactivé
                                    {% endif %}

                                </td>
                                <td>
                                    <a onclick="return confirm('Voulez - vous vraiement supprimer ?')"
                                       href="{{ path('utilisateur_delete', { 'id': user.id }) }}"><i>
                                            <img src=" {{ asset('images/delete_16.png') }}" title="Supprimer"> </i></a>
                                    <a href="{{ path('utilisateur_edit', { 'id': user.id }) }}"><i> <img
                                                    src=" {{ asset('images/Edit.png') }}" title="modifier"
                                            > </i></a>
                                    {#                               <a href="{{ path('utilisateur_delete', { 'id': user.id }) }}"><i> <img src=" {{ asset('images/delete_16.png') }}" title="Supprimer"> </i></a>#}

                                    <a onclick="return confirm('Voulez - vous vraiement activer ce compte ?')"
                                       href="{{ path('utilisateur_activer', { 'id': user.id }) }}"><i> <img
                                                    src=" {{ asset('images/5.png') }}" title="Activer"> </i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            </div>
            </div>
        </div>
{% endblock %}