{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-md-6">
        <div class="white-box">
            <h2 class="box-title m-b-0">
                Detail du producteur
            </h2>
            {#                <li>#}
            {#                    <a href="{{ path('utilisateur_index') }}">Retour à la liste </a>#}
            {#                </li>#}

            <div class="form-group">
                <label class="control-label"> <strong> Prenom : </strong> </label>
                <label class="control-label">{{ prod.getProducteur().getPrenom() }} </label>
                <br/>
                <label class="control-label"> <strong> Nom : </strong> </label>
                <label class="control-label">{{ prod.getProducteur().getNom() }} </label>

                <br/>
                <label class="control-label"> <strong> Adresse : </strong> </label>
                <label class="control-label">{{ prod.getProducteur().getAddresse() }} </label>

                <br/>
                <label class="control-label"> <strong> Email : </strong> </label>
                <label class="control-label">{{ prod.getProducteur().getEmail() }} </label>
                <br/>
                <label class="control-label"> <strong> Date de dépot : </strong> </label>
                <label class="control-label">{{ prod.getDatedepot() | date() }} </label>

            </div>


        </div>
    </div>
    <div class="col-md-6">
        <div class="white-box">

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    {% form_theme form '/bootstrap_3_layout.html.twig' %}
                    {{ form_start(form,{'attr':{'role':'form','class':'registration-form'}}) }}

                    <div class="text-right">
                        <p class="text-danger ">
                            {% if message is defined %}
                                {{ message }}
                            {% endif %}
                        </p>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Confirmer la
                            création de compte
                        </button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Annuler</button>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Email</label>
                        {{ form_widget(form.email,{'attr':{ 'value':email}}) }}
                    </div>


                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>



    <ul>

    </ul>


{% endblock %}
