{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.username }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.email}}</td>
            </tr>
          {#  <tr>
                <th>Role</th>
                <td>{{ utilisateurs.roles }}</td>
            </tr>#}

        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div class="row text-center ">

        <span class="">
              <input type="reset" value="Annuler" class="btn btn-danger "/>
        </span>

                <span class="">
              <input type="submit" value="Valider" class="btn btn-primary "/>
        </span>

            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
