<div class="container">
    <div class="row">

        <div class="row text-center   ">
            <a class="logo text-white" href="{{ path("home_page") }}" style="color: white ;margin-top: 10px">

                    <span class="hidden-xs">
                          <img id="profile-img" src="{{ asset('logo.png') }}"/>
                    </span></a>

        </div>

    </div>
    <div class="form-signin    " style="padding-top: 50px">
        <div class="hidden-xs">

            <h2 class="form-signin-heading text-center ">Connexion </h2>
            <h3 class="form-signin-heading text-center ">
                            <span class="hidden-xs">
                            Système de Gestion intégré des Exportions Agricoles

                            </span>
            </h3>
        </div>
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="{{ asset('images/User.png') }}"/>
            <p id="profile-name" class="profile-name-card"></p>
            {% if error %}
                <div class="text-center text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       autocomplete="username" class="form-control" placeholder="Adresse e-mail ou nom d'utilisateur"
                       required autofocus>
                <input type="password" id="password" name="_password" required="required"
                       autocomplete="current-password" class="form-control" placeholder="Saisissez votre mot de passe"
                       required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"> se souvenir de moi .
                    </label>
                </div>
                <div class="row form-group">
                    <button type="submit" id="_submit" name="_submit"
                            class="btn btn-lg btn-primary btn-block btn-signin">Se connecter
                    </button>
                </div>

                <div class="row form-group text-center">
                    <a href="{{ path('producteur_new') }}" class="forgot-password">

                        <span class="text-center"> Création de  compte </span>
                    </a>
                </div>
            </form><!-- /form -->


        </div><!-- /card-container -->


    </div><!-- /  -->
</div>

