{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <div class="container-fluid">

        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
{% endblock fos_user_content %}
