
{% extends 'base.html.twig' %}

{% block body %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title"> statistique </h4> </div>
</div>
<h1>Mangues</h1>
    <div class="row">
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">
                                        {{ statMangue|length }}
                                       </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits exportés</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">{{ statExpMangue|length }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produit rejétes</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span class="counter text-danger">6011</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Date Exportation</h3>
                            <ul class="list-inline two-part">
                                <li>
                                
                                </li>
                                <li class="text-right"><i class="ti-arrow-right text-info"></i> <span class="text-info">
                                        {%for statExpMangue in statExpMangue%}
                                        {{ statExpMangue.dateExportation|date("m/d/Y") }}
                                        {%endfor%}
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr> 
               
                 <div class="row">
                      <h1>Mais doux</h1>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">
                                        {{ statMais|length }} 
                                       </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits exportés</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple"> {{ statExpMais|length }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produit rejétes</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span class="counter text-danger">6011</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Date Exportation</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    
                                </li>
                                <li class="text-right"><i class="ti-arrow-right text-info"></i> <span class="text-info">
                                       {%for statExpMais in statExpMais%}
                                        {{ statExpMais.dateExportation|date("m/d/Y") }}
                                        {%endfor%}
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                        
                 <div class="row">
                     <hr>
                      <h1>Tomates</h1>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">
                                        {{ statTomate|length }}
                                       </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits exportés</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple"> {{ statExpTomate|length }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produit rejétes</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span class="counter text-danger">6011</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">date Exportation</h3>
                            <ul class="list-inline two-part">
                                <li>
                                   
                                </li>
                                <li class="text-right"><i class="ti-arrow-right text-info"></i> <span class="text-info">
                                        {%for statExpTomate in statExpTomate%}
                                        {{ statExpTomate.dateExportation|date("m/d/Y") }}
                                        {%endfor%}
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                  <div class="row">
                      <hr>
                      <h1>Haricots</h1>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">
                                        {{ statHaricot|length }}
                                       </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produits exportés</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple"> {{ statExpHaricot|length }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Produit rejétes</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div class="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span class="counter text-danger">6011</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Date Exportation</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    
                                </li>
                                <li class="text-right"><i class="ti-arrow-right text-info"></i> <span class="text-info">
                                       {%for statExpHaricot in statExpHaricot%}
                                        {{ statExpHaricot.dateExportation|date("m/d/Y") }}
                                        {%endfor%}
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
{% endblock %}
