{% extends 'base.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"> statistique </h4></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <div class="white-box">
                                <h3 class="box-title">Etat des  demandes</h3>
                            <div class="row row-in">

                                <!-- /.col -->
                                <!--col -->
                                <div class="col-lg-6 col-sm-12">
                                    <div class="white-box">
                                        <div class="col-in row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"><i data-icon="E"
                                                                                       class="linea-icon linea-basic"></i>


                                                <a href="{{ path('demande_index') }}">
                                                    <h5 class="text-muted vb">Demandes en cours</h5>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-danger">{{demandeEnCours}}</h3></div>
                                            {%  if(demandeAll>0) %}
                                            {% set pourcentage1 = demandeEnCours/demandeAll*100 %}

                                            {% else %}
                                                {% set pourcentage1 =0 %}
                                            {% endif %}

                                            <input type="hidden" id="pourcantageValide" value="{{pourcentage1 | round}}">


                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                                         aria-valuenow="{{pourcentage1 | round}}" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{pourcentage1 | round}}%"><span class="sr-only">{{pourcentage1 | round}}% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!--col -->
                                <div class="col-lg-6 col-sm-12">
                                    <div class="white-box">
                                        <div class="col-in row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                                       data-icon=""></i>
                                                <a href="{{ path('demande_valider', { 'statut':2 }) }}">
                                                    <h5 class="text-muted vb">Demandes rejetés</h5>
                                                </a>

                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-megna">{{demandeRejeter}}</h3></div>
                                            {%  if(demandeAll>0) %}

                                            {% set pourcentage1 = demandeRejeter/demandeAll*100 %}
                                            {% else %}
                                            {% set pourcentage1 =0 %}
                                            {% endif %}
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-megna" role="progressbar"
                                                         aria-valuenow="{{pourcentage1 | round}}" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{pourcentage1 | round}}%"><span class="sr-only">{{pourcentage1 | round}}% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!--col -->
                                <div class="col-lg-6 col-sm-12">
                                    <div class="white-box">
                                        <div class="col-in row">
                                            <pourcantageValidediv class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                                       data-icon=""></i>

                                                <a href="{{ path('demande_valider', { 'statut': 1 }) }}">
                                                    <h5 class="text-muted vb">Demandes validés</h5>
                                                </a>
                                            </pourcantageValidediv>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-primary">{{demandeValide}}</h3></div>

                                            {%  if(demandeAll>0) %}
                                            {% set pourcentage1 = demandeValide/demandeAll*100 %}
                                            {% else %}
                                            {% set pourcentage1 =0 %}
                                            {% endif %}

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar"
                                                         aria-valuenow="{{pourcentage1 | round}}" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{pourcentage1 | round}}%"><span class="sr-only">{{pourcentage1 | round}}% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!--col -->
                                <div class="col-lg-6 col-sm-12">
                                    <div class="white-box">
                                        <div class="col-in row">
                                            <div class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                                       data-icon=""></i>
                                                <h5 class="text-muted vb">Tous les demandes</h5></div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <h3 class="counter text-right m-t-15 text-success">{{demandeAll}}</h3></div>

                                            {%  if(demandeAll>0) %}
                                            {% set pourcentage1 = demandeAll/demandeAll*100 %}

                                            {% else %}
                                                {% set pourcentage1 =0 %}
                                            {% endif %}

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         aria-valuenow="{{pourcentage1 | round}}" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{pourcentage1 | round}}%"><span class="sr-only">{{pourcentage1 | round}}% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            </div>
                        </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="white-box">
                        <h3 class="box-title">Etat des produits </h3>
                    <div class="row row-in">
                        <!-- /.col -->
                        <!--col -->
                        <div class="col-lg-6 col-sm-12">
                            <div class="white-box">
                                <div class="col-in row">
                                    <div class="col-md-6 col-sm-6 col-xs-6"><i data-icon="E"
                                                                               class="linea-icon linea-basic"></i>
                                        <a href="{{ path('ficheexportation_index') }}">
                                            <h5 class="text-muted vb">Exportation en cours</h5>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h3 class="counter text-right m-t-15 text-danger">{{exportationEnCours}}</h3></div>
                                    {%  if(exportationsAll>0) %}
                                    {% set pourcentage2 = exportationEnCours/exportationsAll*100 %}
                                        {% else %}
                                    {% set pourcentage2 =0%}
                                    {% endif %}


                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                                 aria-valuenow="{{pourcentage2 | round}}" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: {{pourcentage2 | round}}%"><span class="sr-only">{{pourcentage2 | round}}% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!--col -->
                        <div class="col-lg-6 col-sm-12">
                            <div class="white-box">
                                <div class="col-in row">
                                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                               data-icon=""></i>
                                        <a href="{{ path('inspection_index') }}">
                                            <h5 class="text-muted vb">Demandes d'inspection en cours</h5>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h3 class="counter text-right m-t-15 text-megna">{{inspectionEnCours}}</h3></div>

                                        {%  if(inspectionAll>0) %}

                                    {%

                                        set pourcentage2 = inspectionEnCours/inspectionAll*100

                                    %}
                                    {% else %}
                                    {% set pourcentage2 =0%}
                                    {% endif %}


                                    <input type="hidden" id="pourcantageValide2" value="{{pourcentage2 | round}}">


                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-megna" role="progressbar"
                                                 aria-valuenow="{{pourcentage2 | round}}" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: {{pourcentage2 | round}}%"><span class="sr-only">{{pourcentage2 | round}}% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-lg-6 col-sm-12">
                            <div class="white-box">
                                <div class="col-in row">
                                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                               data-icon=""></i>
                                        <h5 class="text-muted vb">Tous les exportations</h5></div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h3 class="counter text-right m-t-15 text-success">{{exportationsAll}}</h3></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 100%"><span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--col -->
                        <div class="col-lg-6 col-sm-12">
                            <div class="white-box">
                                <div class="col-in row">
                                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="linea-icon linea-basic"
                                                                               data-icon=""></i>
                                        <a href="{{ path('inspection_index') }}">
                                            <h5 class="text-muted vb">Tous les demandes d'inspection </h5>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h3 class="counter text-right m-t-15 text-primary">{{ inspectionAll }}</h3></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 100%"><span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!--col -->

                        <!-- /.col -->
                    </div>
                    </div>
                </div>
                </div>

                <div class="row">

                    <div class="row">
            </div>
            <!--Bar-->
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-box">
                                <h3 class="box-title">Etats des demandes</h3>
                                <div id="cercleDemande" class="text-center">
                                    <canvas style="display: inline-block; width: 200px; height: 200px; vertical-align: top;"
                                            width="200" height="200"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Portlet -->
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6 ">

                    <div class="col-lg-12">
                        <div class="white-box">
                            <h3 class="box-title">Etat des produits </h3>
                            <div id="cercleRejets" class="text-center">
                                <canvas style="display: inline-block; width: 200px; height: 200px; vertical-align: top;"
                                        width="200" height="200"></canvas>
                            </div>
                        </div>
                    </div>



                    </div>
                </div>
            </div>

        </div>



{% endblock %}