{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme form '/bootstrap_3_horizontal_layout.html.twig' %}

    <h1>Demande creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('demande_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
