{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendrierproduction creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="row text-center ">

        <span class="">
              <input type="reset" value="Annuler" class="btn btn-danger "/>
        </span>

        <span class="">
              <input type="submit" value="Valider" class="btn btn-primary "/>
        </span>

    </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('calendrierproduction_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
