{% extends 'base.html.twig' %}

{% block body %}
    {{ include(':producteur:producteurEdit.html.twig') }}


  {#  {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}#}

    <ul>

        <li>
            {#{{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}#}
        </li>
    </ul>
{% endblock %}
