{% extends 'base.html.twig' %}

{% block body %}


    <h1> Bonjour Monsieur/Madame {{ prod.prenom }} {{ prod.nom }} </h1>
    <p> Votre dossier a été enregistré <br/>
            Vous allez recevoir un mail lors de la validation des différentes informations, vous receverez votre login et mot passe
        </p>
        <h2> Merci de patienter</h2>

{% endblock %}