{% extends 'base.html.twig' %}

{% block body %}


    {#<div id="wrapper">#}

        {#<div id="page-wrapper">#}


                    <!-- Left sidebar -->
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-lg-2 col-md-3  col-sm-4 col-xs-12 inbox-panel">
                                   {# <div> <a href="#" class="btn btn-custom btn-block waves-effect waves-light">Compose</a>
                                        <div class="list-group mail-list m-t-20"> <a href="inbox.html" class="list-group-item active">Inbox <span class="label label-rouded label-success pull-right">5</span></a> <a href="#" class="list-group-item ">Starred</a> <a href="#" class="list-group-item">Draft <span class="label label-rouded label-warning pull-right">15</span></a> <a href="#" class="list-group-item">Sent Mail</a> <a href="#" class="list-group-item">Trash <span class="label label-rouded label-default pull-right">55</span></a> </div>
                                        <h3 class="panel-title m-t-40 m-b-0">Labels</h3>
                                        <hr class="m-t-5">
                                        <div class="list-group b-0 mail-list"> <a href="#" class="list-group-item"><span class="fa fa-circle text-info m-r-10"></span>Work</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-warning m-r-10"></span>Family</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-purple m-r-10"></span>Private</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-danger m-r-10"></span>Friends</a> <a href="#" class="list-group-item"><span class="fa fa-circle text-success m-r-10"></span>Corporate</a> </div>
                                    </div>#}
                                </div>
                                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 mail_listing">

                                   <form method="post" action="{{ path('email_envoi' )}}">
                                    <h3 class="box-title">Editer un Nouveau Message</h3>
                                    <div class="form-group">

                                        <input class="form-control" placeholder="A:" name="destination" value="{{ email }}"> </div>
                                    {#{{ form_widget(form.destination ,{'attr':{'class':'form-control'}})}}</div>#}
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Sujet:" name="sujet"> </div>
                                        {#{{ form_widget(form.sujet ,{'attr':{'class':'form-control'}})}}</div>#}
                                    <div class="form-group">
                                        <textarea class="textarea_editor form-control" rows="15" placeholder="Entrer du texte ..." name="message"></textarea>
                                        {#{{ form_widget(form.message ,{'attr':{'class':'textarea_editor' }})}}#}
                                    </div>
                                    <h4><i class="ti-link"></i> Attachment</h4>
                                   {#<form action="#" class="dropzone">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple /> </div>
                                    </form>#}
                                    <hr>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-envelope-o"></i> Envoyer</button>
                                    <button class="btn btn-default"><i class="fa fa-times"></i> Annuler</button>
                                   </form>
                                    </div>

                            </div>
                        </div>
                    </div>


            {#</div>#}
            <!-- /.container-fluid -->

        {#</div>#}
        <!-- /#page-wrapper -->
    {#</div>#}
{% endblock %}
