{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detaillot</h1>

    <table>
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ detailLot.identifiant }}</td>
            </tr>
            <tr>
                <th>Calibre</th>
                <td>{{ detailLot.calibre }}</td>
            </tr>
            <tr>
                <th>Nombrecarton</th>
                <td>{{ detailLot.nombreCarton }}</td>
            </tr>
            <tr>
                <th>Poidsnet</th>
                <td>{{ detailLot.poidsNet }}</td>
            </tr>
            <tr>
                <th>Npalette</th>
                <td>{{ detailLot.nPalette }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detaillot_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('detaillot_edit', { 'identifiant': detailLot.identifiant }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
