{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion qualitée </h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gestionQualite.id }}</td>
            </tr>
            <tr>
                <th>Systemgesqual</th>
                <td>{{ gestionQualite.systemgesqual }}</td>
            </tr>
            <tr>
                <th>Gestioninterne</th>
                <td>{{ gestionQualite.gestioninterne }}</td>
            </tr>
            <tr>
                <th>Consultant</th>
                <td>{{ gestionQualite.consultant }}</td>
            </tr>
            <tr>
                <th>Autre</th>
                <td>{{ gestionQualite.autre }}</td>
            </tr>
            <tr>
                <th>Noteautre</th>
                <td>{{ gestionQualite.noteautre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a class="btn btn-success"
               href="{{ path('gestionqualite_edit', { 'id': gestionQualite.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div class="row text-center ">

        <span class="">
              <input type="reset" value="Annuler" class="btn btn-danger "/>
        </span>

                <span class="">
              <input type="submit" value="Valider" class="btn btn-primary "/>
        </span>

            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
